<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@(string.IsNullOrEmpty((string?)ViewData["Title"]) ? "YT-DLP Online" : ViewData["Title"])</title>
    <link rel="icon" href="/favicon.jpg" sizes="1080x1080"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/theme.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/font-awesome.css" asp-append-version="true"/>
    @* <link rel="stylesheet" href="~/Ytdlp.Web.styles.css" asp-append-version="true"/> *@
</head>
<style>
    body:not([no-script]) .no-script,
    body[no-script] main
    {
        display: none;
    }
</style>
<body no-script>
<div class="container">
    <div class="no-script">
        <div class="card border-danger text-danger form-check form-switch mt-4">
            <div class="card-body">
                <h1 class="mb-0">
                    JavaScript is required
                </h1>
            </div>
        </div>
    </div>

    <main role="main" class="py-3">
        @RenderBody()
    </main>
</div>

<script>
    document.body.removeAttribute('no-script');
</script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>